@{
    ViewBag.Title = "About";
}

<hgroup class="title">
    <h1>@ViewBag.Title.</h1>
    <h2>@ViewBag.Message</h2>
    <link href="http://vjs.zencdn.net/6.6.3/video-js.css" rel="stylesheet">

    <!-- If you'd like to support IE8 -->
    <script src="http://vjs.zencdn.net/ie8/1.1.2/videojs-ie8.min.js"></script>
</hgroup>

<article>
    <p>
        Use this area to provide additional information.
    </p>

    <p>
        Use this area to provide additional information.
    </p>

    <p>
        Use this area to provide additional information.
    </p>
</article>

<aside>
    <h3>Aside Title</h3>
    <p>
        <video id="my-video" class="video-js" controls preload="auto" width="640" height="264"
            poster="MY_VIDEO_POSTER.jpg" data-setup="{}">
            <source src="~/Videos/GBTG.MP4" type='video/mp4'>
            <source src="~/Videos/GBTG.MP4" type='video/mp4'>
        </video>

        <select id="Regions">
            <option>Region 1</option>
            <option>Region 2</option>
            <option>Region 3</option>
            <option>Region 4</option>
            <option>Region 5</option>
        </select>
        <label id="Phone"></label>

        <label id="Email"></label>

        <script src="http://vjs.zencdn.net/6.6.3/video.js"></script>
    </p>
    <ul>
        <li>@Html.ActionLink("Home", "Index", "Home")</li>
        <li>@Html.ActionLink("About", "About", "Home")</li>
        <li>@Html.ActionLink("Contact", "Contact", "Home")</li>
    </ul>
</aside>

<script>
    $("#Regions").on("change", function () {
        $.get('@Url.Action("GetRegionPhoneEmail")' + $(this).attr("id"), function (data, status) {
            $("#Phone").text(data.Phone);
            $("#Email").text(data.Email);
        });
    });
</script>
